*{
    
    margin: 0;
    padding: 0;
    
}

html,body
{
    
    color:#606060;
    font-family: "lato" , 'Arial' , sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 20px;


    
}

.clearfix {zoom:1}
.clearfix:after {
    content: " . ";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;


   
}
h2,h3{
         
    text-transform: uppercase;
    font-weight: 300;
    
   
}
h1 {
    
}



.row {
    width: 1140px;
    margin: 0 auto;
}

/*********************************************************/
/*-------------------Header Part------------------------*/
/*********************************************************/
header {

    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.58),rgba(0, 0, 0, 0.58)),url(img/grocery.jpg);

    background-image: linear-gradient(rgba(0, 0, 0, 0.58),rgba(0, 0, 0, 0.58)),url(img/grocery.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 960px;
    margin: 0 auto;
    top: 30%;
    left: 26.5%;

}
.info-part {
    width: 670px;
    color: white;
    padding-left: 0px;
    
}
#title {
    padding-left: 50px;
    font-size: 45px;
}
#subtitle {
    font-size: 20px;
}
.buttons {
    margin-left: 150px;
    margin-top: 20px;
}
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 150px;
    margin:0 8px;
    font-weight: 300;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    border: 1px solid #c6db22;
    background: #a2b130
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #c6db22;
    color: #c6db22;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover{
    background:#8e9d17; 
    border: 1px solid #8e9d17;
}
.btn-ghost:hover,
.btn-ghost:active {
    background: #8e9d17;
    border: 1px solid #8e9d17;
    color: #fff;

}

.logo {
    position: absolute;
    top: 50px;
    float: left;
    height: 33px;
    width: auto;
    margin-top: -15px;
}
.logo2 {
    display: none;
    
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2a2a2a;
    box-shadow: 0 2px 2px #393939;
    z-index:9999;
   
}
.main-nav {
    float: right;
    list-style-type: none;
    margin-top: 40px;
}
.main-nav li {

    display: inline-block;
    margin-left: 30px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 90%;
}
.main-nav li a:hover {
    border-bottom: 2px solid #c6db22;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 18px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
}
.sticky .main-nav {
    position: relative;
    bottom: 20px;
    float: right;
    list-style-type: none;
    margin-top: 32px;
}
.sticky .logo {display: none;}
.sticky .logo2{
    display: block;
    position: absolute;
    top: 27px;
    float: left;
    height: 30.5px;
    width: auto;
    margin-top: -15px;
}


/*********************************************************/
/*-------------------SECTION PART1------------------------*/
/*********************************************************/

section{
    padding: 50px 0;
}



h2 {
    text-align: center;
    font-size: 150%;
    margin-bottom: 30px;

    letter-spacing: 0.5px;
    
    
}
h2:after {
    display: block;
    height: 2px;
    background-color: #8e9d17;
    content: " ";
    width: 10%;
    margin: 0 auto;
    margin-top: 30px;
}
h3 {
    margin-bottom: 20px;
    text-align: center;
}

.long-copy{
    
    line-height: 145%;
    margin-left: 21%;
    font-size: 90%;
    width: 60%;
}


.box {
    padding: 1%;

}
.box p {
    font-size: 88%;
    line-height: 148%;
}

.icon-big {
    color: #8e9d17;
    font-size: 250%;
    text-align: center;
    display: block;
}
#info3 {
    margin-right: 40px;
}

/*********************************************************/
/*-------------------SECTION PART2------------------------*/
/*********************************************************/
.section-products{
    padding: 0;
}

.product-showcase {
    list-style-type: none;
    width: 100%;
}
.product-showcase li {
    
    display: inline-block;
    float: left;
    width: 25%;
}
.product-photo{
    background: #000;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.product-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
    
}

.product-photo img:hover{
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    opacity: 1;
}

/*********************************************************/
/*-------------------SECTION PART3------------------------*/
/*********************************************************/

.section-steps{
    height: 550px;
    background: #f8f8f8;
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 38%;
}
.works-step{
    margin-bottom: 50px;
}
.works-step:last-of-type{
    margin-bottom: 75px;
}
.works-step div {
    color: #8e9d17;
    border: 2px solid #8e9d17;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 4px;
    float: left;
    font-size: 150%;
    margin-right:25px;
}

.btn-app img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

/*********************************************************/
/*-------------------SECTION PART3------------------------*/
/*********************************************************/

.section-cities{
    height: 460px;
}
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.city-feature {
    margin-bottom: 5px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #8e9d17;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;

}
    
/*********************************************************/
/*-------------------SECTION PART4------------------------*/
/*********************************************************/

.section-testimonials{
    width: 100%;
    height: 380px;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/cover2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/cover2.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

blockquote{
    font-family: italic;
    padding: 2%;
    line-height: 145%;
    font-size: 90%;
    position: relative;
    margin-top: 40px;
} 
blockquote:before{
    content: "\201C";
    font-size: 300%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}
cite {
    font-size: 70%;
    margin-top: 25px;
    display: block;
    
}
cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*********************************************************/
/*-------------------SECTION PART5------------------------*/
/*********************************************************/

.section-plans{
    background-color: #f8f8f8;
    height: 550px;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #d1d1d1;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-price{
    font-size: 280%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #8e9d17;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-month{
    font-size: 80%;
    
}

.plan-box ul {
    list-style-type: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/*********************************************************/
/*-------------------CONTACT FORM------------------------*/
/*********************************************************/

.contact-form {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}
input[type=text],
input[type=email],
select,
textarea{
    width: 60%;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

textarea{
    height: 100px;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}
*:focus{outline: none;}

/*********************************************************/
/*-------------------FOOTER------------------------*/
/*********************************************************/

footer {
    background-color: #393939;
    width: 100%;
    height: 100px;
    padding:  10px 0 5px 0;

}
.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li a{
    text-decoration: none;
    color: #6d6d6d;
}
.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

footer p{
   text-align: center;
}

/*********************************************************/
/*-------------------Animation------------------------*/
/*********************************************************/

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity:0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.js--wp-4{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}